.animation-float {
  animation: float 10s calc(var(--index) * 1s) reverse var(--ease-in-out-quad)
    infinite;
  transform-origin: center;

  & > img {
    transition: transform 500ms var(--ease-out-quart);
  }
  &:hover > img {
    transform: scale(1.2);


  }
}

@keyframes float {
  0% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  25% {
    transform: translate(4%, -6%) rotate(10deg);
  }
  50% {
    transform: translate(-3%, 10%) rotate(-5deg);
  }
  75% {
    transform: translate(2%, -8%) rotate(7deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
