@import "tailwindcss";

:root {
  --background: #ffffff;
  --highlight: #008600;
}

@theme inline {
  --color-background: var(--background);
  --color-highlight: var(--highlight);
}

@theme {
  --tracking-body: -0.04em;
  --tracking-heading: -0.06em;

}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
