@import "tailwindcss";

:root {
  --background: #ffffff;
  --highlight: #008600;
  interpolate-size: allow-keywords;
}

@theme inline {
  --color-background: var(--background);
  --color-highlight: var(--highlight);
  --color-secondary: #f2f2f2;
  --color-secondary-dark: #e8e8e8;
}

@theme {
  --tracking-body: -0.04em;
  --tracking-heading: -0.06em;
  --leading-heading: 0.9;

  --shadow-small: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --inset-shadow-small: 0px 2px 4px rgba(0, 0, 0, 0.5);

  /* Easing functions */
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transform-origin: center;
}

#navmenu {
  transition: 250ms var(--ease-out-quart);
  transition-property: clip-path;

  &[data-is-open="true"] {
    /* height: auto; */
    clip-path: inset(0 0 0% 0);
    .menu__content {
      transform: translateY(0%);
      filter: blur(0px);
    }
    .nav__backdrop {
      opacity: 1;
    }
  }

  &[data-is-open="false"] {
    /* height: 0; */
    clip-path: inset(0 0 100% 0);

    .menu__content {
      transform: translateY(-20%);
      filter: blur(2px);
      opacity: 0;
    }
    .nav__backdrop {
      filter: blur(0px);
      opacity: 0;
    }
  }
}

.menu__content {
  transition: 250ms var(--ease-out-quart);
  transition-property: transform, filter, opacity;
}

.nav__backdrop {
  transition: 250ms var(--ease-out-quart);
  transition-property: backdrop-filter, background-color;
  &[data-is-open="true"] {
  }
  &[data-is-open="false"] {
    backdrop-filter: blur(0px);
    background-color: #00000000;
  }
}
